###v2
[client]
port=3316

[mysql]
socket=/cache1/mysql/mysql.sock
default-character-set = utf8
no_auto_rehash

[mysqld]
user = mysql
###端口
port=3316
###安装目录
#basedir=/usr
#数据目录
datadir=/cache1/mysql/data

###向master报告本机信息，便于管理，值同本机ip、port
#report_host=x.x.x.x
#report_port=3316

#忽略应用程序想要设置的其他字符集
skip-character-set-client-handshake
#连接时执行的SQL
init-connect='SET NAMES utf8'
#请求的最大连接时间
wait_timeout=1800
interactive_timeout=1800

###socket文件
socket=/cache1/mysql/mysql.sock
###mysql错误日志，建议固定文件名
log-error=/cache1/mysql/mysql_error.err
#服务端默认字符集
character-set-server = utf8
collation-server = utf8_general_ci
symbolic-links=0
explicit_defaults_for_timestamp=true
###取消对timestamp的特殊处理 
explicit_defaults_for_timestamp=1 
###最大连接数上限，不要设置过大，会影响一些系统变量的计算 
max_connections=1000
max_connect_errors = 30
###关闭外部锁定 
skip_external_locking 
###关闭dns回测，开启后mysql的权限表将只能使用IP而不能使用域名 
skip_name_resolve

###慢查询记录，一般超过3s就记录，记录的文件名最好固定
slow_query_log=1
long_query_time=3
slow_query_log_file=/cache1/mysql/slowlog/slow_query.log
###开启binlog日志，保持5天的记录，binlog和relaylog的文件名最好固定
log-bin = /cache1/mysql/binlog/mysql-bin 
expire_logs_days=5
relay_log=/cache1/mysql/relaybinlog/mysql-relay-bin
###binlog模式：ROW/STATEMENT/MIXED
binlog_format=ROW
###binlog的缓存大小，连接型变量，需要更大的值建议单独在连接中设置，建议大于单个事务大小
#binlog_cache_size=8M
###binlog刷写数量，1最安全，0性能最好，一般建议为0
sync_binlog=100
###标识id，同一组内保持唯一，范围0~4294967295，建议ip后2段
#server_id=ID

###记录同步的内容到本机binlog
log_slave_updates=1
###只读模式
read_only=0
###定时任务
event_scheduler=0
###查询缓存，如果更新很频繁，可以考虑关闭或者设置为0
query_cache_type=1
query_cache_size=64M
default-storage-engine=INNODB
#innodb设置
innodb_large_prefix=1
innodb_file_format=barracuda
innodb_strict_mode=1 
###innodb按表格分文件存储，一般建议开启 
###如果原先是关闭的，要开启该选项只能重做数据库 
innodb_file_per_table=1

###innodb缓存空间，建议1G~24G，并且不超过内存的2/3
innodb_buffer_pool_size=6G
###innodb对于io的能力预估，hdd为200，hdd+raid0为400，ssd为20000
innodb_io_capacity=200
###innodb刷新邻接页，默认为1，hdd应为1，ssd应为0
innodb_flush_neighbors=1
###事务模式，可选值：REPEATABLE-READ/READ-COMMITTED/READ-UNCOMMITTED/SERIALIZABLE
transaction_isolation=READ-COMMITTED
###myisam索引缓存，建议256M~24G，并且不超过内存的2/3
key_buffer_size=256M
###单次通讯包的最大值，建议16M~64M，上限是1G
max_allowed_packet=16M
###排序缓冲区，影响任何需要排序的操作，连接型变量，需要更大的值建议单独在连接中设置，无上限
sort_buffer_size=2M
###MYISAM全表扫描时的缓冲区，连接型变量，需要更大的值建议单独在连接中设置，上限2G
read_buffer_size=2M
###MYISAM随机读取时的缓冲区，影响order by，连接型变量，需要更大的值建议单独在连接中设置，上限2G
read_rnd_buffer_size=2M
###全表扫描的连接操作的缓冲区，连接型变量，需要更大的值建议单独在连接中设置，无上限
join_buffer_size=2M

###mysql的行为模式，一般设置为：
###严格模式，插入非法的值返回ERROR（STRICT_TRANS_TABLES）
###引擎可用模式，如果建立的表使用的引擎不可用则返回ERROR（NO_ENGINE_SUBSTITUTION）
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
###内存可用临时表最大值，2个值都要设置，建议32M~4G，无上限
tmp_table_size=128M
max_heap_table_size=128M
###group_concat的长度上限，建议64K，无上限
group_concat_max_len=64K

###innodb是否更新元数据信息，影响information_schema库内容的准确性，一般建议关闭，便于管理
innodb_stats_on_metadata=0

###所有连接能打开的表的数目上线，建议2048~20480，但最好不要设置过大，会影响其他系统变量的计算
table_open_cache=2048
###线程缓存数量，上限16384
thread_cache_size=1024
###innodb的redo日志文件大小，建议256M，修改改值要重新初始化
innodb_log_file_size=256M
###innodb刷新模式，1最安全也最慢，0代表mysql崩溃可能导致丢失事务，2代表linux崩溃，一般建议2
innodb_flush_log_at_trx_commit=2
###innodb写log的缓存，默认8M，上限4G，如果经常使用大事务，需要考虑增加该值
#innodb_log_buffer_size=8M
###设置默认字符集为utf8
character_set_server=utf8
###若开启binlog，非super用户创建函数，需要开启为1，否则为0
log_bin_trust_function_creators=1
###允许mysql打开的文件数，建议直接60000
open_files_limit=60000
###是否区分大小写，默认不区分
lower_case_table_names=1
###同步信息存储位置
master_info_repository=TABLE
relay_log_info_repository=TABLE
###取消load限制
secure_file_priv=''

[mysqld_multi]
mysqld=/usr/bin/mysqld_safe
mysqladmin=/usr/bin/mysqladmin

[mysqldump]
quick

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
[mysqld_safe]
###mysql的pid文件，建议固定文件名
pid-file=/var/lib/mysql/mysqld.pid

